<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Working Template</title>
</head>
<body> 
<h1>✅ Hello User !. Enter your statement below</h1>  
<form action='Transform_Sentences'>
    <textarea name='text' style="width: 1515px; height: 335px;"></textarea>
    <button type='submit' > Submit the Sentence for Transformation </button>
</form>
<h1>✅ Hello , Welcome to Machine Learning. Enter your statement below</h1> 
<form action='/Machine_Learning'>
    <button type='submit'> Machine Learning</button>
</form>
   
<h1>Welcome to Learning Django</h1>
<form action='/Django_learn'>
    <button type='submit'> Django Tutorial</button>
</form>

<h1>To know your developer</h1>
<form action='/personal'>
    <button type='submit'> Developer Details</button>
</form>

</body>
</html>

